


/* this is just stuff to make our particular page look better */
.row {
  padding: 10px;
}
.first-row, .third-row  {
  background-color: darkkhaki;
}
.default-row, .forth-row {
  background-color: cornsilk;
}

.second-row, .fifth-row, .fifthish-row, .sixth-row, .eighth-row {
  background-color: black;
  color: #fff;
}


