


/* this is just stuff to make our example/test page look better */
.row {
  padding: 10px;
  background-color: darkkhaki;
}

.alt-colour-one {
  background-color: cornsilk;
}
.alt-colour-two {
  background-color: black;
  color: #fff;
}